<!DOCTYPE html>
<html lang="en">
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Find products</title>
</head>
<body>
<nav>
   <h1>TescoCheapRecipe</h1>
</nav>
<div>
    <h2>Search Tesco products</h2>
    
       <form>
 <input type="text" name="ingredients" placeholder="e.g: rice" />
 <input type="submit" value="Submit" />
</form>


</div>
<p></p>
<div>

	<h2>Find a random recipe</h2>
   <form>
 <input type="submit" value="Go" name ="random" />
</form>

</div>
<p></p>
<div>
    <h2>Search recipe by ingredients</h2>
    
       <form>
 <input type="text" name="ingredients_rec" placeholder="e.g: rice,chicken" />
 <input type="submit" value="Submit" />
</form>


</div>
</body>
</html>

